body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        text-decoration: none;
        color: rgb(0, 119, 255);
        h1{
            margin: 0;
            font-size: 40px;
        }  
    } 
    p{
        margin: 0;
        margin-top: 20px;
        &:first-of-type{
            margin-top: 30px;
        }
    }

    .Socials_Buttons{
        display: flex;
        align-items: center;
        margin-top: 20px;
        a{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            transition: .2s;
            border-radius: 100%;
            i{
                font-size: 30px;
            }

            &:hover{
                background: rgb(0, 119, 255);
                color: white;
            }
        }
    }
}